## Build output
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Secrets & local config
appsettings.Development.json
secrets.json

## Rider / JetBrains
.idea/

## macOS
.DS_Store
